.nav {
  background-color: #f9f9fa;
  padding: 20px 50px;
  border-top: 1px solid rgba(121, 121, 121, 0.3);
  position: fixed;
  bottom: 0px;
  width: 100%;
  box-sizing: border-box;
}

.nav__list {
  display: flex;
  justify-content: space-between;
}

.nav__link {
  position: relative;
}

.nav__notification {
  position: absolute;
}

.nav__chat {
  left: 15px;
  bottom: 15px;
}

.nav__update {
  background-color: tomato;
  border-radius: 50%;
  width: 6px;
  height: 6px;
  right: -3px;
}
