.screen-header {
  display: flex;
  justify-content: space-between;
  padding: 40px var(--horizontal-space) var(--horizontal-space)
    var(--horizontal-space);
  align-items: center;
}

.screen-header__title {
  font-size: 28px;
  font-weight: 600;
}

.screen-header__icons span {
  margin-left: 25px;
}

#screen-header__cog {
  position: relative;
}

.screen-header__update {
  background-color: tomato;
  border-radius: 50%;
  width: 6px;
  height: 6px;
  position: absolute;
  right: -4px;
  top: -4px;
}

@keyframes rotateCog {
  from {
    transform: none;
  }
  to {
    transform: rotateZ(360deg);
  }
}

.screen-header__icons .fa-cog:hover {
  animation: rotateCog 1s linear infinite;
}
