#chat-screen {
  background-color: #abc1d1;
  height: 1000vh;
}

#chat-screen .alt-header {
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  top: 0;
  background-color: #abc1d1;
  z-index: 1;
}

#chat-screen .status-bar {
  z-index: 2;
}

.main-chat {
  margin-top: 150px;
}
