@tailwind base;
@tailwind components;

.search-box {
  transition: box-shadow 0.2s linear;
}

.nav-link {
  @apply ml-6 border-b-2 border-white hover:border-gray-600 h-full flex items-center;

  a {
    @apply py-10 px-5;
  }
}

.btn {
  @apply w-full text-lg font-light text-center rounded-md py-5 mb-2;
}

input {
  @apply w-full text-lg font-light text-left rounded-md py-5 mb-2 border border-gray-600 px-5 focus:outline-none focus:border-green-300;
}

form {
  .input {
    @apply mb-2;

    &.has_error {
      input {
        @apply bg-red-200 border-gray-400 focus:border-gray-600;
      }
    }
  }
}

@tailwind utilities;
